* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
}

.header__content {
    background-color: #fff;
}

nav a,
div a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e
}

.header__top {
    background-color: #303030
}

.header__btn {
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}

.header__btn:before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}

.header__contacts:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone,
.header__email {
    color: #cbcacb;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone:before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__email {
    padding-left: 24px;
}

.header__email:before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__content {
    padding: 34px 0px 23px;
}

.header__logo img {
    width: 120px;
    height: 40px;
    float: left;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .5s;
}

.menu a:hover {
    border-color: #ffc222
}

.menu li+li {
    padding-left: 10px;
}

.footer {
    background-color: #303030;
}

.footer__phone {
    list-style: none;
    text-decoration: none;
    color: #cbcacb;
}

.footer__content {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 25px;
    font-size: medium;
    padding: 15px 0;
    color: #cbcacb;
    display: flex;
    justify-content: space-between;
}

.copyright p {
    color: #cbcacb;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.form-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.form-wrapper_inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    max-width: 300px;
    height: 50px;
    border: 2px solid #ffc222;
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #1b1b1b;
    border: 2px solid #ffc222;
    background-color: #ffc222;
}

.form__control-area {
    width: 300px;
    height: 150px;
    border: 2px solid #ffc222;
    border-radius: 5px;
}

.alert {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.page__name {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: 50px;
}

.page__name p {
    font-size: 15px;
    padding: 30px 0;
}

.page__text h2 {
    font-size: 25px;
    margin-bottom: 50px;
}

.page__text p {
    font-size: 17px;
    line-height: 25px;
}

.price {
    color:#ffc222;
    text-align: center;
    font-size: 25px;
}

.barrier__price {
    margin-bottom: 150px;
}

.barrier {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.barrier__type {
    line-height: 30px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__text,
.text {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.rolets-foto {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
    margin-bottom: 50px;
}

.rolets-alutech_foto {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.rolets-type__text li, p {
    font-size: 17px;
    line-height: 20px;
}

.container-type__foto {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.foto p {
    text-align: center;
}

.result-foto {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.rolets-description {
    display: flex;
    flex-direction: column;
}

.rolets-description h3 {
    font-size: 25px;
}

.rolets-description p {
    font-size: 17px;
    line-height: 25px;
}

.wrapper-slider{
    max-width: 700px;
    margin: 0 auto;
}

.slider__item{
    max-width: 700px;
    height: auto;
}

.slider, .slick-dots{
    left: 10px;
    display: flex;
    flex-direction: column;
}

.slick-dots{
    position: absolute;
    top: 50px;
}

.slick-dots li + li{
    padding-top: 15px;
}

.slick-dots button{
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #fff;
    width: 10px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}

.slick-dots button:hover,
.slick-active button{
    background-color: #ffc222;
}

.vorota-foto{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.foto-content h3{
    margin-bottom: 50px;
}

.info {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.info__contacts h2{
    color: #6495ED;
    margin-bottom: 50px;
}

.info__contacts p{
    font-size: 14px;
}