{% extends 'base.html' %}

{% block title %}
{% if title %}
Мир Ворот - {{title}}
{% else %}
Мир Ворот
{% endif %}
{% endblock %}
{% block content %}

<div class="form-wrapper">
    <form method="post">
        <div class="form-wrapper_inner">
            <h2>Контакты для связи</h2>
        </div>
        <div class="form-wrapper_inner"><input type="tel" class="form-control" name="number" id="number"
                placeholder="Телефон 8 901 101 10 01"></div><br>
        <div class="form-wrapper_inner"><input type="text" class="form-control" name="name" id="name" placeholder="ФИО">
        </div><br>
        <div class="form-wrapper_inner"><textarea type="textarea" class="form__control-area" name="text" id="text"
                placeholder="Если есть пожелания или замечания"></textarea></div><br>
        <div class="form-wrapper_inner"><button class="btn btn-success" type="submit">Отправить</button></div>
    </form>
</div>


{% endblock %}